*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 0 1rem;
    font-size: 1.2rem;
}

.logo{
    width: 120px;
}

.res-card{
    border: 1px solid transparent;
    width: 300px;
    margin: 1rem;
    background-color: #e5e5e5;
}

.res-card:hover{
    border: 1px solid black;
}

.res-logo{
    width: 100%;
    height: 300px;
}

.body .res-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
}